<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vanda.tlzbfz.mapper.TDbrwMapper">

    <select id="selectAll"  resultType="com.vanda.tlzbfz.entity.TDbrw">
        select * from T_DBRW
    </select>
    <!--<resultMap id="BaseResultMap" type="com.vanda.tlzbfz.entity.TDbrw">
        &lt;!&ndash;
          WARNING - @mbg.generated
        &ndash;&gt;
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="GW" jdbcType="VARCHAR" property="gw" />
        <result column="XM" jdbcType="VARCHAR" property="xm" />
        <result column="ZT" jdbcType="VARCHAR" property="zt" />
        <result column="BJCJS" jdbcType="VARCHAR" property="bjcjs" />
        <result column="WCCS" jdbcType="NUMBER" property="wccs" />
        <result column="SYCS" jdbcType="NUMBER" property="sycs" />
    </resultMap>-->
</mapper>
