<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vanda.tlzbfz.mapper.TRwlrBeanMapper">
  <resultMap id="BaseResultMap" type="com.vanda.tlzbfz.entity.TRwlrBean">

      <result column="RWBH" property="rwbh" jdbcType="VARCHAR" />
      <result column="RWJC" property="rwjc" jdbcType="VARCHAR" />
      <result column="YQCS" property="yqcs" jdbcType="INTEGER" />
      <result column="KSRQ" property="ksrq" jdbcType="DATE" />
      <result column="JSRQ" property="jsrq" jdbcType="DATE" />
      <result column="RWLX" property="rwlx" jdbcType="VARCHAR" />
      <result column="RWSM" property="rwsm" jdbcType="VARCHAR" />
      <result column="FBDW" property="fbdw" jdbcType="VARCHAR" />
      <result column="SCWJ" property="scwj" jdbcType="BLOB" />

  </resultMap>
  <sql id="Base_Column_List">
   RWBH, RWJC, YQCS,
      KSRQ, JSRQ, RWLX,
      RWSM, FBDW, SCWJ
  </sql>
  <delete id="deleteByRwbh" parameterType="string">
    delete from T_RWLR t where t.rwbh= #{rwbh,jdbcType=VARCHAR}
  </delete>
  <select id="getRwlrByCondition" parameterType="string" resultMap="BaseResultMap">
    select
    RWBH, RWJC, YQCS,
    to_char(KSRQ,'yyyy-mm-dd') AS KSRQ,
    to_char(JSRQ,'yyyy-mm-dd') AS JSRQ,
    RWLX,
    RWSM, FBDW, SCWJ
    from onion.T_RWLR
    where 1=1
    <if test="rwbh != null">
      and RWBH = #{rwbh,jdbcType=VARCHAR}
    </if>
    <if test="fbdw != null">
      and FBDW = #{fbdw,jdbcType=VARCHAR}
    </if>
  </select>

  <insert id="insertSelective" parameterType="com.vanda.tlzbfz.entity.TRwlrBean">

    insert into T_RWLR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rwbh != null">
        RWBH,
      </if>
      <if test="rwjc != null">
        RWJC,
      </if>
      <if test="yqcs != null">
        YQCS,
      </if>
      <if test="ksrq != null">
        KSRQ,
      </if>
      <if test="jsrq != null">
        JSRQ,
      </if>
      <if test="rwlx != null">
        RWLX,
      </if>
      <if test="rwsm != null">
        RWSM,
      </if>
      <if test="fbdw != null">
        FBDW,
      </if>
      <if test="scwj != null">
        SCWJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rwbh != null">
        #{rwbh,jdbcType=VARCHAR},
      </if>
      <if test="rwjc != null">
        #{rwjc,jdbcType=VARCHAR},
      </if>
      <if test="yqcs != null">
        #{yqcs,jdbcType=INTEGER},
      </if>
      <if test="ksrq != null">
       to_date(to_char(#{ksrq,jdbcType=DATE},'yyyy-mm-dd'),'yyyy-mm-dd'),
      </if>
      <if test="jsrq != null">
        to_date(to_char(#{jsrq,jdbcType=DATE},'yyyy-mm-dd'),'yyyy-mm-dd'),
      </if>
      <if test="rwlx != null">
        #{rwlx,jdbcType=VARCHAR},
      </if>
      <if test="rwsm != null">
        #{rwsm,jdbcType=VARCHAR},
      </if>
      <if test="fbdw != null">
        #{fbdw,jdbcType=VARCHAR},
      </if>
      <if test="scwj != null">
        #{scwj,jdbcType=BLOB},
      </if>
    </trim>
  </insert>

  <update id="updateBySelective" parameterType="java.lang.String">
    update onion.T_RWLR
    <set>
      <if test="rwbh != null">
        RWBH =#{rwbh,jdbcType=VARCHAR},
      </if>
      <if test="rwjc != null">
        RWJC =#{rwjc,jdbcType=VARCHAR},
      </if>
      <if test="yqcs != null">
        YQCS =#{yqcs,jdbcType=VARCHAR},
      </if>
      <if test="ksrq != null">
        KSRQ =to_date(to_char(#{ksrq,jdbcType=DATE},'yyyy-mm-dd'),'yyyy-mm-dd'),
      </if>
      <if test="jsrq != null">
        JSRQ = to_date(to_char(#{jsrq,jdbcType=DATE},'yyyy-mm-dd'),'yyyy-mm-dd'),
      </if>
      <if test="rwlx != null">
        RWLX =#{rwlx,jdbcType=VARCHAR},
      </if>
      <if test="rwsm != null">
        RWSM =#{rwsm,jdbcType=VARCHAR},
      </if>
      <if test="fbdw != null">
        FBDW =#{fbdw,jdbcType=VARCHAR},
      </if>
      <if test="scwj != null">
        SCWJ =#{scwj,jdbcType=BLOB},
      </if>
    </set>
    where RWBH = #{rwbh,jdbcType=VARCHAR}
  </update>
</mapper>