<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vanda.tlzbfz.mapper.VDbrwMapper">
  <resultMap id="BaseResultMap" type="com.vanda.tlzbfz.entity.VDbrw">

      <result column="ID" property="id"     jdbcType="VARCHAR" />
      <result column="RWJC" property="rwjc" jdbcType="VARCHAR" />
      <result column="BJCJS" property="bjcjs" jdbcType="VARCHAR" />
      <result column="GWMC" property="gwmc" jdbcType="VARCHAR" />
      <result column="GWDM" property="gwdm" jdbcType="VARCHAR" />
      <result column="XM" property="xm"     jdbcType="VARCHAR" />
      <result column="RWSM" property="rwsm" jdbcType="VARCHAR" />
      <result column="RWLX" property="rwlx" jdbcType="VARCHAR" />
      <result column="YQCS" property="yqcs" jdbcType="INTEGER" />
      <result column="WCCS" property="wccs" jdbcType="INTEGER" />
      <result column="SYCS" property="sycs" jdbcType="INTEGER" />
      <result column="ZT" property="zt"     jdbcType="VARCHAR" />
      <result column="KSRQ" property="ksrq" jdbcType="DATE" />
      <result column="JSRQ" property="jsrq" jdbcType="DATE" />
      <result column="FBDW" property="fbdw" jdbcType="VARCHAR" />
      <result column="RWBH" property="rwbh" jdbcType="VARCHAR" />
      <result column="FBGW" property="fbgw" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    ID,RWJC,BJCJS, GWMC, XM, RWSM, RWLX, YQCS, YQCS, WCCS,SYCS,ZT,KSRQ,JSRQ,FBDW,RWBH,FBGW
  </sql>

    <select id="queryDbrwByCondition" parameterType="com.vanda.tlzbfz.entity.Dbrw" resultMap="BaseResultMap">
        select
        ID,RWJC,BJCJS, GWMC,GWDM, XM, RWSM, RWLX,
        YQCS, YQCS, WCCS,SYCS,ZT,
        to_char(KSRQ,'yyyy-mm-dd') AS KSRQ,
        to_char(JSRQ,'yyyy-mm-dd') AS JSRQ,
        FBDW,RWBH,FBGW
        from V_DBRW
        where 1=1
        <if test="id != null">
            and ID = #{id,jdbcType=VARCHAR}
        </if>
        <if test="bjcjs != null">
         and BJCJS = #{bjcjs,jdbcType=VARCHAR}
        </if>
        <if test="gwdm != null">
        and GWDM = #{gwdm,jdbcType=VARCHAR}
        </if>
        <if test="xm != null">
        and   XM = #{xm,jdbcType=VARCHAR}
        </if>
        <if test="rwlx != null">
        and  RWLX = #{rwlx,jdbcType=VARCHAR}
        </if>
        <if test="zt != null">
           and ZT = #{zt,jdbcType=VARCHAR}
        </if>
        <if test="fbrq != null">
            and   KSRQ  &lt;=  to_date(to_char(#{fbrq},'yyyy-mm-dd'),'yyyy-mm-dd')
            and    JSRQ    &gt;= to_date(to_char(#{fbrq},'yyyy-mm-dd'),'yyyy-mm-dd')
        </if>
        <if test="fbdw != null">
        and FBDW = #{fbdw,jdbcType=VARCHAR}
        </if>
        <if test="rwbh != null">
            and RWBH = #{rwbh,jdbcType=VARCHAR}
        </if>
        <if test="fbgw != null">
            and FBGW = #{fbgw,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="queryDbrwByConditionG" parameterType="com.vanda.tlzbfz.entity.Dbrw" resultMap="BaseResultMap">
        select
        ID,RWJC,BJCJS, GWMC,GWDM, XM, RWSM, RWLX,
        YQCS, YQCS, WCCS,SYCS,ZT,
        to_char(KSRQ,'yyyy-mm-dd') AS KSRQ,
        to_char(JSRQ,'yyyy-mm-dd') AS JSRQ,
        FBDW,RWBH,FBGW
        from V_DBRW
        where 1=1
        <if test="id != null">
            and ID = #{id,jdbcType=VARCHAR}
        </if>
        <if test="bjcjs != null">
            and (BJCJS = #{bjcjs,jdbcType=VARCHAR} or FBDW = #{fbdw,jdbcType=VARCHAR})
        </if>
        <if test="gwdm != null">
            and (GWDM = #{gwdm,jdbcType=VARCHAR} or FBGW = #{fbgw,jdbcType=VARCHAR})
        </if>
        <if test="xm != null">
            and   XM = #{xm,jdbcType=VARCHAR}
        </if>
        <if test="rwlx != null">
            and  RWLX = #{rwlx,jdbcType=VARCHAR}
        </if>
        <if test="zt != null">
            and ZT = #{zt,jdbcType=VARCHAR}
        </if>
        <if test="fbrq != null">
            and   KSRQ  &lt;=  to_date(to_char(#{fbrq},'yyyy-mm-dd'),'yyyy-mm-dd')
            and    JSRQ    &gt;= to_date(to_char(#{fbrq},'yyyy-mm-dd'),'yyyy-mm-dd')
        </if>

        <if test="rwbh != null">
            and RWBH = #{rwbh,jdbcType=VARCHAR}
        </if>

    </select>


</mapper>